html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #fEfEfE;
    color: #333;
}  body {
    max-width: 500px;
    margin: 2em auto 0;
}  p, a, a:visited, h1, h2  {
    font-size: 1.25rem;
    line-height: 1.333;
    text-emphasis: none;
    color: inherit;
}  h1, h2 {
    font-size: 1.75rem;
}
